<div class="container" [hidden]="isDetailSectionHidden">
  <div class="video-container">
    <div>
      <video #localVideo autoplay class="video"></video>
      <div
        style="
          color: white;
          font-size: 30px;
          margin: auto;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        "
        [hidden]="isCamera"
      >
        Camera is off
      </div>
    </div>

    <div class="all-icons">
      @if(!micEnabled){
      <button (click)="enableMic()" class="icons">
        <i class="bi bi-mic-mute-fill"></i>
      </button>
      }@else{
      <button (click)="disableMic()" class="icons">
        <i class="bi bi-mic"></i>
      </button>
      } @if(!camEnabled){
      <button (click)="toggleWebcam()" class="icons">
        <i class="bi bi-camera-video-off-fill"></i>
      </button>
      }@else{
      <button (click)="toggleWebcam()" class="icons">
        <i class="bi bi-camera-video"></i>
      </button>
      }
    </div>
  </div>

    <div [formGroup]="form">
      <div class="form-group mb-4">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter name"
          formControlName="name"
        />
        @if(form.controls['name'].touched && form.controls['name'].invalid){
          <div class="error-message">
            Name is required.
          </div>
        }
      </div>
      
      <div class="form-group mb-4">
        <label for="meetingId" class="form-label">Meeting ID</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter Meeting ID"
          formControlName="meetingId"
        />
        @if(form.controls['meetingId'].touched && form.controls['meetingId'].invalid){
          <div class="error-message">
            Meeting Id is required.
          </div>
        }
      </div>
    
      <div class="form-group">
        <button
          type="submit"
          class="btn btn-primary custom-width-button form-button"
          (click)="join()"
          [disabled]="form.invalid"
        >
          Join
        </button>
      </div>
    </div>
</div>

<div class="main-container" [hidden]="!isDetailSectionHidden">
  <div class="video-section">
    <div
      class="main-video-container"
      [ngClass]="{ 'single-video': participants.length === 1 }"
    >
      @for(participant of participants ; track participant.id ; let i = $index){
      @if(i < 7){

      <div class="video-box" [id]="participant.id">
        @if(participant?.mediaStream?.active){
        <video
          #remoteVideo
          autoplay
          class="Participants-video"
          [srcObject]="participant.mediaStream"
        ></video>
        }@else{
        <div class="character-circle">
          {{ participant.displayName.charAt(0) }}
        </div>
        }
        <audio
          #remoteAudio
          [controls]="false"
          autoplay
          [srcObject]="participant.audioStream"
        ></audio>
      </div>
      } @else if(i === 7){
      <div class="video-box" [id]="participant.id">
        <div class="character-circle">+{{ participants.length - 7 }}</div>
      </div>
      } }
    </div>

    <div class="all-video-icons">
      @if(!micEnabled){
      <button (click)="enableMic()" class="icons">
        <i class="bi bi-mic-mute-fill"></i>
      </button>
      }@else{
      <button (click)="disableMic()" class="icons">
        <i class="bi bi-mic-fill"></i>
      </button>
      } @if(!camEnabled){
      <button (click)="enableCam()" class="icons">
        <i class="bi bi-camera-video-off-fill"></i>
      </button>
      }@else{
      <button (click)="disableCam()" class="icons">
        <i class="bi bi-camera-video-fill"></i>
      </button>
      }
      <button (click)="leave()" class="icons bg-danger">
        <i class="bi bi-telephone-fill rotate-135"></i>
      </button>
      <button (click)="chat()" class="icons">
        <i class="bi bi-chat-right-text-fill"></i>
      </button>
      <button (click)="raise()" class="icons">
        <i class="bi bi-hand-index-thumb-fill"></i>
      </button>
      <button (click)="showParticipants()" class="icons">
        <i class="bi bi-people-fill"></i>
      </button>
    </div>
  </div>

  <div [hidden]="isChatVisible" class="section">
    <div class="chatArea" #chatArea>
      <div #chatContainer></div>
    </div>
    <div class="input-div">
      <input
        type="text"
        class="form-control ml-3 input-text"
        placeholder="Send message"
        aria-label="Recipient's username"
        aria-describedby="button-addon2"
        [(ngModel)]="sendTextMessage"
      />
      <button
        class="btn button-position"
        type="button"
        id="button-addon2"
        (click)="sendMessage()"
      >
        <i class="bi bi-send-fill"></i>
      </button>
    </div>
  </div>

  <div [hidden]="isParticipantsVisible" class="section">
    <app-participants [participants]="participants"></app-participants>
  </div>
</div>
